<title>Quem Somos</title>
<header class="section page-header">
        <app-nav-bar></app-nav-bar>
        <div class="line pt-2 pb-2">
            <div class="container">
              <div class="content">
                <div class="logo">
                  <img src="../assets/logo-my-brother.png" alt="">
                </div>
              </div>
            </div>
          </div> 
    </header>
    <!-- About us section-->
    <section class="section section-lg bg-image-pattern text-center" style="background-image: url(../../assets/bg-pattern-01.jpg)">
      <div class="container">
        <h4>Quem somos</h4>
        <!-- <p class="lead-custom">Suspendisse scelerisque libero vitae sem consectetur tincidunt rhoncus justo cursusras a felis facilisis eros posuere cursus</p> -->
        <div class="row row-30 text-lg-left justify-content-center">
          <div class="col-md-9 col-lg-6 col-xl-5"><img src="../../assets/O6OBUG0.jpg" alt="" width="470" height="292" />
          </div>
          <div class="col-md-9 col-lg-6 col-xl-7">
            <p style="font-size: 19px;">Uma corretora nova, moderna, com foco em vendas em canais digitais, usando inteligência artificial, segmentação e clusterização de Personas, escolhendo o público certo para o produto certo.</p>
            <p style="font-size: 19px;">A MyBrother Seguros tem como sócios, pessoas com vasta experiência nos mercados de Seguros, Tecnologia, Marketing e Programas de Relacionamento.</p>
            <p style="font-size: 19px;">Temos como missão, superar as expectativas de nossos clientes, oferecendo novas soluções de seguro que melhor se adequem às necessidades e que atendam aos mais altos padrões de qualidade e excelência, sempre com ética, entusiasmo e transparência.</p>
            <p>CNPJ: 32.698.485/0001-25 <br> SUSEP:10.2052850.7</p>
            <!-- <p>Dondimentum fermentum quis a lacus. Donec id libero gravida, tempus turpis in, auctor nisi. Morbi pharetra quis ligula a laoreet. Suspendisse blandit suscipit dolor, eu gravida urna aliquet vel. Suspendisse hendrerit eu ante sit amet pellent esque. Mauris auctor aliquet consequat. Nulla orci quam, vestibulum eget orci quis</p><a class="link-inline" href="#"><span>read more</span><span class="link-inline-icon fa-arrow-circle-o-right"></span></a> -->
          </div>
        </div>
      </div>
    </section>
    <web-footer></web-footer>

    <script>
     
    </script>