
<!-- <div class="preloader">
  <div class="preloader-body">
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
    <p>Loading...</p>
  </div>
</div> -->
<div class="page">
  <header class="section page-header">
    <!--RD Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark info-color">
      <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Quem somos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Para você
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Acidentes Pessoaus</a>
                  <a class="dropdown-item" href="#">+ Segura</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contatos</a>
              </li>
              
          </ul>
      </div>
      </div>
      
  </nav>
  <div class="line pt-2 pb-2">
    <div class="container">
      <div class="content">
        <div class="logo">
          <img src="../assets/logo-my-brother.png" alt="">
        </div>
        <div class="social-icons">
          <ul class="list-unstyled d-flex">
            <li><a href="https://www.linkedin.com/company/mybrother-seguros" target="_black"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/MyBrotherSeguros/" target="_black"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/mybrotherseguros/" target="_black"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </header>
  <section class="banner-slide">
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100 object-position-top" src="../assets/happy-parents-with-their-children-park.jpg"
              alt="First slide">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h2><strong>Tranquilidade e cuidado</strong><br>QUE VOCÊ E SUA FAMÍLIA MERECEM.</h2>
            <a href="" class="btn btnSaibaMais">Saiba mais</a>
          </div>
        </div>
        <div class="carousel-item">
          
          <div class="view">
            <img class="d-block w-100 object-position-center" src="../assets/front-view-best-friends-posing.jpg"
              alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h2><strong>+Segura</strong><br>PARA SER +LEVE NA VIDA.</h2>
            <a href="" class="btn btnSaibaMais">Saiba mais</a>
          </div>
        </div> 
      </div>

      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <!-- <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="3200" data-simulate-touch="false" data-direction="horizontal">
    <div class="swiper-wrapper text-center">
      <div class="swiper-slide context-dark myimgbg" data-slide-bg="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
        <div class="swiper-slide-caption section-md">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-10">
                <h1><span data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="900">TRANQUILIDADE E CUIDADO</span><span class="font-weight-regular text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="250" data-caption-duration="900">QUE VOCÊ E SUA FAMÍLIA MERECEM.</span></h1><a class="button button-default-outline" href="acidentesPessoais.html" data-caption-animate="fadeInUp" data-caption-delay="450" data-caption-duration="900">Saiba mais.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide context-dark myimgbg myimgbgcenter" data-slide-bg="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
        <div class="swiper-slide-caption section-md">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-10">
                <h1><span data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="900">+SEGURA</span><span class="font-weight-regular text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="250" data-caption-duration="900">PARA SER +LEVE NA VIDA.</span></h1><a class="button button-default-outline" href="maisSegura.html" data-caption-animate="fadeInUp" data-caption-delay="450" data-caption-duration="900">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </section> -->
  <section class="section section-lg bg-image-pattern text-center" style="background-image: url(../assets/bg-pattern-01.jpg)">
    <div class="container">
      <h4>+Segura Previsul</h4>
      <p class="lead-custom">O seguro para mulheres mais completo do mercado.</p>


      <div id="carouselControlsDesktop" class="carousel slide d-none d-lg-block" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselControlsDesktop" data-slide-to="0" class="active"></li>
          <li data-target="#carouselControlsDesktop" data-slide-to="1"></li>
          <li data-target="#carouselControlsDesktop" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" style="height: 700px">
          <div class="carousel-item active">
            <div class="row row-30">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <article class="services-default">
                  <div class="services-default-img"><a href="maisSegura.html"><img src="../assets/banner1.jpg" alt="Banner destaque" class="imgf-fluid" /></a></div>
                  <h6 class="services-default-title"><a href="#">Orientação psicológica, nutricionista, personal fitness, check-up médico e desconto.</a></h6>
                  <p class="services-default-text">Já pensou em contar com orientação psicológica, nutricionista, personal fitness, check-up médico e desconto para medicamentos para uma vida + saudável? Conheça o +Segura Previsul, seguro com coberturas especiais a partir de R$ 16,97 mensais. </p><a class="services-default-link" href="maisSegura.html"><span>Saiba mais!</span><span class="services-default-link-icon fa fa-arrow-circle-right"></span></a>
                </article>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <article class="services-default">
                  <div class="services-default-img"><a href="maisSegura.html"><img src="../assets/banner2.jpg" alt="Banner destaque" class="imgf-fluid" /></a></div>
                  <h6 class="services-default-title"><a href="#">Residencial e Veiculos</a></h6>
                  <p class="services-default-text">Contratar um seguro de vida é sinal de segurança e tranquilidade. Com o + Segura você pode contar com orientação com psicólogos, orientação com personal fitness e nutricionistas, serviços para o seu PET, coberturas para câncer de mama e colo de útero além de muitos outros benefícios. Garanta a tranquilidade nos seus dias a partir de R$ 16,97 mensais.</p><a class="services-default-link" href="maisSegura.html"><span>Saiba mais!</span><span class="services-default-link-icon fa fa-arrow-circle-right"></span></a>
                </article>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <article class="services-default">
                  <div class="services-default-img"><a href="maisSegura.html"><img src="../assets/banner3.jpg" alt="Banner destaque" class="imgf-fluid" /></a></div>
                  <h6 class="services-default-title"><a href="#">Psico, Farmassist, Filhos, Check Up e Nutriline.</a></h6>
                  <p class="services-default-text">Com os filhos na escola, você consegue tirar um tempo pra você? O  +Segura permite que você conte com assistência para os seus filhos caso algum imprevisto aconteça com você e sua saúde. Serviço de Baby Sitter, transporte para frequência às aulas e muitos outros para você viver tranquila e desfrutar dos melhores momentos da vida!</p><a class="services-default-link" href="maisSegura.html"><span>Saiba mais!</span><span class="services-default-link-icon fa fa-arrow-circle-right"></span></a>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="carouselControlsMobile" class="carousel slide d-block d-lg-none" data-ride="carousel">
        <div class="carousel-inner" style="height: 670px">
          <div class="carousel-item active">
            <div class="row row-30">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <article class="services-default">
                  <div class="services-default-img"><a href="maisSegura.html"><img src="../assets/banner1.jpg"  alt="Banner destaque" class="imgf-fluid" /></a></div>
                  <h6 class="services-default-title"><a href="#">Orientação psicológica, nutricionista, personal fitness, check-up médico e desconto.</a></h6>
                  <p class="services-default-text">Já pensou em contar com orientação psicológica, nutricionista, personal fitness, check-up médico e desconto para medicamentos para uma vida + saudável? Conheça o +Segura Previsul, seguro com coberturas especiais a partir de R$ 16,97 mensais. </p><a class="services-default-link" href="maisSegura.html"><span>Saiba mais!</span><span class="services-default-link-icon fa fa-arrow-circle-right"></span></a>
                </article>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-30">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <article class="services-default">
                  <div class="services-default-img"><a href="maisSegura.html"><img src="../assets/banner2.jpg" alt="Banner destaque" class="imgf-fluid" /></a></div>
                  <h6 class="services-default-title"><a href="#">Residencial e Veiculos</a></h6>
                  <p class="services-default-text">Contratar um seguro de vida é sinal de segurança e tranquilidade. Com o + Segura você pode contar com orientação com psicólogos, orientação com personal fitness e nutricionistas, serviços para o seu PET, coberturas para câncer de mama e colo de útero além de muitos outros benefícios. Garanta a tranquilidade nos seus dias a partir de R$ 16,97 mensais.</p><a class="services-default-link" href="maisSegura.html"><span>Saiba mais!</span><span class="services-default-link-icon fa fa-arrow-circle-right"></span></a>
                </article>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-30">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <article class="services-default">
                  <div class="services-default-img"><a href="maisSegura.html"><img src="../assets/banner3.jpg" alt="Banner destaque" class="imgf-fluid" /></a></div>
                  <h6 class="services-default-title"><a href="#">Psico, Farmassist, Filhos, Check Up e Nutriline.</a></h6>
                  <p class="services-default-text">Com os filhos na escola, você consegue tirar um tempo pra você? O  +Segura permite que você conte com assistência para os seus filhos caso algum imprevisto aconteça com você e sua saúde. Serviço de Baby Sitter, transporte para frequência às aulas e muitos outros para você viver tranquila e desfrutar dos melhores momentos da vida!</p><a class="services-default-link" href="maisSegura.html"><span>Saiba mais!</span><span class="services-default-link-icon fa-arrow-circle-o-right"></span></a>
                </article>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev left-arrow" href="#carouselControlsMobile" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next right-arrow" href="#carouselControlsMobile" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row row-30 flex-lg-row-reverse justify-content-md-center">
        <div class="col-md-10 col-lg-6 p-0 text-center"><a class="video" href="https://youtu.be/GtcduqnFQTc" data-lightgallery="item"><span class="icon fa-play-circle-o"></span><img src="../assets/Post_Assistencia_Insta.jpg" alt="" class="imgf-fluid" /></a></div>
        <div class="col-md-10 col-lg-6 p-0">
          <div class="block-md" style="height: 100%;">
            <h4 class="text-primary" style="padding-top: 20%">+Segura Previsul, o seguro feminino mais completo do mercado</h4>
            <p></p><a class="button button-primary" href="maisSegura.html">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Brands section-->
  <section class="section section-xs bg-gray-200 text-center">
    <div class="container">
      <div class="row row-15 align-items-center">
        <div class="col-xs-6 col-sm-4 col-lg-3 ml-auto"><a class="link-brand" href="#"><img src="../assets/partner/chubb.png" alt="" width="200" height="50" /></a></div>
        <!-- <div class="col-xs-6 col-sm-4 col-lg-3"><a class="link-brand" href="#"><img src="images/partner/prevident.png" alt="" width="200" height="50"/></a></div> -->
        <div class="col-xs-6 col-sm-4 col-lg-3 mr-auto"><a class="link-brand" href="#"><img src="../assets/partner/previsul.png" alt="" width="250" height="50" /></a></div>
        <!-- <div class="col-xs-6 col-sm-4 col-lg-2"><a class="link-brand" href="#"><img src="images/brand-04-126x54.png" alt="" width="126" height="54"/></a></div>
          <div class="col-xs-6 col-sm-4 col-lg-2"><a class="link-brand" href="#"><img src="images/brand-05-96x43.png" alt="" width="96" height="43"/></a></div>
          <div class="col-xs-6 col-sm-4 col-lg-2"><a class="link-brand" href="#"><img src="images/brand-06-134x37.png" alt="" width="134" height="37"/></a></div> -->
      </div>
    </div>
  </section>
  <section class="section section-lg bg-image-pattern context-dark text-center text-md-left" style="background-image: url(../assets/bg-pattern-02.jpg)">
    <div class="container">
      <div class="row row-20 justify-content-center">
        <div class="col-lg-4 col-12">
          <div class="link-info" style="display: block !important;">
            <div class="unit unit-spacing-sm align-items-center">
              <div class="unit-left">
                <div class="text-center icon icon-xl icon-primary icon-round fa fa-map-marker"></div>
              </div>
              <div class="unit-body">
                <h6 class="link-info-title"><a href="#">Rua dos Manacás nº 436, sala 6<br> Jardim da Gloria, Cotia, SP<br> CEP: 06711-500</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="link-info" style="display: block !important;">
            <div class="unit unit-spacing-sm align-items-center">
              <div class="unit-left">
                <div class="text-center icon icon-xl icon-primary icon-round fa fa-phone"></div>
              </div>
              <div class="unit-body">
                <h6 class="link-info-title"><a href="tel:#">+55 (11) 3287-0030 <br> +55 (11) 3045-9004</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="link-info" style="display: block !important;">
            <div class="unit unit-spacing-sm align-items-center">
              <div class="unit-left">
                <div class="text-center icon icon-xl icon-primary icon-round fa fa-envelope"></div>
              </div>
              <div class="unit-body">
                <h6 class="link-info-title"><a href="mailto:#">CONTATO@MYBROTHERSEGUROS.COM.BR</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="section footer-classic bg-image-pattern context-dark" style="background-image: url(../assets/bg-pattern-03.jpg)">
    <div class="container">
      <div class="row row-30 flex-lg-row-reverse">
        <div class="col-lg-6">
          <div class="float-lg-right">
            <img src="../assets/logo-my-brother.png" style="width: 155px; height: auto; background-color: white; padding: 15px;" alt="" width="155" height="34">
          </div>
        </div>
        <div class="col-lg-6"><a href="#">
            <h5 style="margin-bottom: -15px">MyBrother Seguros</h5>
          </a>
          <ul class="list-inline list-inline-md">
            <li><a class="icon icon-lg fa fa-linkedin-square" href="https://www.linkedin.com/company/mybrother-seguros" target="_BLANK"></a></li>
            <li><a class="icon icon-lg fa fa-facebook-official" href="https://www.facebook.com/mybrotherseguros" target="_BLANK"></a></li>
            <li><a class="icon icon-lg fa fa-instagram" href="https://www.instagram.com/mybrotherseguros" target="_BLANK"></a></li>
          </ul>
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Todos direitos reservados</span><span>.&nbsp;</span><a href="privacy-policy.html">Política de Privacidade</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
<div class="snackbars" id="form-output-global"></div>