<nav class="navbar navbar-expand-lg navbar-dark info-color">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="home">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item" id="quem-somos">
            <a class="nav-link" href="/quem-somos">Quem somos</a>
          </li>
          <li class="nav-item dropdown" id="para-voce">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Para você
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/acidentes-pessoais">Acidentes Pessoais</a>
              <a class="dropdown-item" href="/mais-segura">+ Segura</a>
            </div>
          </li>
          <li class="nav-item" id="contatos">
            <a class="nav-link" href="/contatos">Contatos</a>
          </li>
          
      </ul>
  </div>
  </div>
  
</nav>
<script>
  function addActive() {
 var element = document.getElementById("#quem-somos");
 element.classList.add("active");
}
</script>
