
<title>Acidentes Pessoais</title>
<header class="section page-header">
    <app-nav-bar></app-nav-bar>
    <div class="line pt-2 pb-2 d-none d-lg-block">
        <div class="container">
          <div class="content">
            <div class="logo">
              <img src="../assets/logo-my-brother.png" alt="">
            </div>
            <div class="mx-auto">
                <h3 class="text-center py-3 py-lg-0">Acidentes pessoais</h3>
            </div>
            <div class="logo">
                <img src="../../assets/Previsul.jpg" alt="">
            </div>
          </div>
        </div>
    </div> 
</header>
<section class="section section-lg bg-image-pattern text-center" style="background-image: url(../../assets/bg-pattern-01.jpg); padding: 30px 0 60px 0 ">
    <div class="container mt-5 mt-lg-0">
        <h6 class="px-lg-5 mx-lg-5" style="font-size: 20px; color: #404b52; font-weight: bold;">Conta saúde, atendimento médico por telefone, assistências residencial e funeral, cartão alimentação e sorteios mensais</h6>
        <p class="lead-custom" style="font-size: 18px; font-weight: bold; margin-top: 25px">Todas essas vantagens a partir de <span>R$ 49,90</span> por mês</p>
        <div class="row row-30 text-lg-left justify-content-center">
            <div class="col-md-9 col-lg-6 col-xl-5"><img src="../../assets/pvs009019_ProjetoO2O_card_publico_05_card_03.png" style="float: right;" alt="" width="350" height="292" />
            </div>
            <div class="col-md-9 col-lg-6 col-xl-7">
                <h6 style="font-size: 20px">A tranquilidade e o cuidado que você e sua família merecem!</h6>
                <p style="font-size: 16px;">Acontecimentos como acidentes pessoais, podem ser minimizados com um seguro que entende de proteção e cuidado na medida certa.</p>
                <p style="font-size: 16px;">Além das coberturas, você e sua família tem direito a usarem muitas assistências que estão inclusas no seguro contratado.</p>
                <div class="pt-3 pt-sm-5">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a id="apsm_ap" class="btn btn-primary text-xs-center text-left" href="#" onclick="openPdf('pdf/AcidentesPessoais.pdf')">Conheça as coberturas</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 mt-3 mt-sm-0">
                            <a id="contrateAcidentesPessoais01" class="btn btn-primary btn-wine text-xs-center text-right mt-sm-3 mt-md-0" href="https://www.mybrotherseguros.com.br/campanha/032020" target="_BLANK">Fale conosco e tire suas dúvidas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our advantages section-->
<section class="section section-lg bg-image-pattern context-dark" style="background-image: url(../../assets/bg-pattern-02.jpg)">
    <div class="container">
        <h4 class="responsive-h4">Assistências</h4>
        <div class="row row-20 row-lg-30 block-advantage-wrapper">
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="#">Conta Saúde</a></h6>
                    <p class="block-advantage-text text-size">O ContaSaúde oferece acesso a rede credenciada para consultas e exames médicos e odontológicos particulares, em todo Brasil, com preços reduzidos, para você e sua família, dependendo do plano contratado.</p>
                    <a id="apsm_cs" href="#" onclick="openPdf('pdf/ContaSaude24h.pdf')" class="more-size">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="#">Saúde 24 horas</a></h6>
                    <p class="block-advantage-text text-size">Serviço de orientação em saúde por telefone. Acesso a qualquer hora do dia ou da noite por meio de ligações gratuitas, chat ou vídeo chamada. O grande diferencial do serviço é a proteção oferecida 24h, em qualquer situação. O motivo da ligação pode ser um mal-estar, uma febre ou qualquer outro sintoma.</p>
                    <a id="apsm_24" href="#" onclick="openPdf('pdf/Saude24h.pdf')" class="more-size">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="#">Assistência Residencial</a></h6>
                    <p class="block-advantage-text text-size">O Serviço de Assistência Residencial tem como objetivo, a realização de serviços na residência habitual do Segurado, como, chaveiro, mão de obra hidráulica e elétrica.</p>
                    <a id="apsm_ar" href="#" onclick="openPdf('pdf/AssistenciaResidencial.pdf')" class="more-size">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="#">Assistência Funeral</a></h6>
                    <p class="block-advantage-text text-size">Serviço de Assistência Funeral tem como objetivo, a realização do funeral do Segurado falecido ou de familiares, de acordo com o Padrão de Serviço Contratado.</p>
                    <a id="apsm_af" href="#" onclick="openPdf('pdf/AssistenciaFuneral.pdf')" class="more-size">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="#">Cartão Alimentação</a></h6>
                    <p class="block-advantage-text text-size">O Serviço de Cartão Alimentação tem como objetivo, o fornecimento de cartão magnético ao Beneficiário do Segurado falecido, no valor de R$150,00, por mês, de acordo com a periodicidade contratada, que pode ser de 6 a 12 meses.</p>
                    <a id="apsm_ca" href="#" onclick="openPdf('pdf/CartaoAlimentacao.pdf')" class="more-size">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="maisS">Sorteio Mensal</a></h6>
                    <p class="block-advantage-text text-size">O segurado principal receberá, sem qualquer custo adicional, a partir do início de vigência do seguro, um número, informado no certificado de sorteio, que irá habilitá-lo a concorrer a sorteios mensalmente ou semanalmente, pela Loteria Federal do Brasil.</p>
                    <a id="apsm_sm" href="https://www.previsul.com.br/produtos#raffle" target="_blank" class="more-size">Saiba mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-advantage h-100">
                    <h6 class="block-advantage-title title-size"><a href="#">Clube +Vantagens</a></h6>
                    <p class="block-advantage-text text-size">Um benefício exclusivo dos Segurados da Previsul, que oferece, diversos benefícios na área da saúde e beleza, educação e capacitação, entretenimento, varejistas Online, viagens e turismo e outras dezenas de categorias.</p>
                    <a id="apsm_cv" href="https://www.previsul.com.br/#clubemaisvantagens" target="_blank" class="more-size">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="row row-20 row-lg-30 block-advantage-wrapper">
            <div class="col-md-12 col-lg-12 text-center">
                <a id="contrateAcidentesPessoais02" class="btn btn-primary" href="https://www.mybrotherseguros.com.br/campanha/032020" target="_BLANK">Fale conosco e tire suas dúvidas</a>
            </div>
        </div>
    </div>
</section>
<web-footer></web-footer>